
.chat-area{
    height: 70vh;
    
    padding: 2rem;
}

.msg-text{
    color: rgb(253, 253, 253);
    font-weight: bold;
    padding: 1.25rem;
    width: fit-content;
    max-width: 70%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.263);
}
 
.msg-sent{
    background: rgba(0, 253, 219, 0.644);
    /* background: rgba(139, 225, 0, 0.74); */
    margin-left: auto;
    border-radius: 1.25rem 0 1.25rem 1.25rem;
}

.msg-rec{
    background: rgba(0, 59, 178, 0.74);
    border-radius: 0 1.25rem 1.25rem 1.25rem;

}
.scroll{
    overflow-y: auto;
    height: 84vh;
}
.chat-scroll{
    overflow-y: auto;
    height: 80vh;
}
.user{
    padding: 10px;
    padding-left: 25px;
    margin: 5px;
    border-radius: 20px;
    background-color: rgba(255, 6, 118, 0.589)  ;
    color: rgb(196, 255, 255);
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
}
.text-view{
    height: 1px;
}
.bg{
    background :linear-gradient(to right, rgba(36, 36, 36, 0.473),rgba(36, 36, 36, 0.473)), url(https://img.freepik.com/free-vector/neon-quote-box-with-text-space_1017-31493.jpg?t=st=1658783750~exp=1658784350~hmac=908753b8ec40b2bd9bb663f3af7846130ad530c57c83e22bcde889f7fde9c9f7&w=1000);
    background-attachment: fixed;
    background-position: center;
    /* background-repeat: no-repeat; */       
}
.hidden{
    display: none;
}
.rd{
    border-radius: none !important ;
}
.name-tag{
    font-family: 'Acme', sans-serif;
}
.text-style{
    font-family: 'Carter One', cursive;
}
.border-style{
    border-radius: 18%;
    border : 7px solid black 
}
.user:hover{
    background-color: #a61458;
}
.name-tag{
    color: rgba(255, 234, 0, 0.858);
    font-weight: 400;
    font-size: 1.25rem;
    /* padding-top: 0.50rem; */
}
.hi{
    color: blueviolet;
    font-size: 1.50rem;
    font-family: 'Lobster', cursive;
}
.margin-center{
    margin-top: 300px;
    text-align: center;
}
.bg-none{
    background: transparent;
}
